#componentImage {
  height: auto;
  max-width: 20%;
  margin-right: 15px;
  border-radius: 8px;
  object-fit: cover;
  vertical-align: middle;
  border: 2px solid #333;
}

h1 {
  font-size: 36px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

div, body {
  text-align: center;
  color: #2c2c2c;
  background-color: #f4f4f4;
}

#styling {
  margin: auto;
  width: 60%;
  background-color: #f0f0f0;
  padding: 2em;
  border-radius: 12px;
  border: 2px solid #007acc;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 1.5em;
  color: #007acc;
}

label {
  padding-right: 0.5em;
  color: #555;
}

button {
  border-radius: 0.5em;
  border: 2px solid #007acc;
  background-color: #007acc;
  color: #fff;
  margin: 1em;
  padding: 0.7em 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0396ff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  background-color: #fff;
}

table.tb th, table.tb td {
  border: 1px solid #007acc;
  padding: 0.5em;
  text-align: center;
  color: #2c2c2c;
}

table.tb th {
  background-color: #007acc;
  color: #fff;
}

table.tb td {
  background-color: #f9f9f9;
}

#ingredientList {
  margin-top: 20px;
  padding: 10px;
  background-color: #e6f7ff;
  border-radius: 8px;
  color: #333;
  text-align: center;
  display: inline-block; 
}

.link-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007acc;
  color: #fff; 
  text-decoration: none; 
  border-radius: 0.5em; 
  border: 2px solid #007acc;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.link-button:hover {
  background-color: #005999; 
}
