#componentImage {
  height: auto;
  max-width: 15%;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  font-size: 48px;
  color: #ff6f61;
}

div, body {
  text-align: center;
  color: #2c2c2c;
  background-color: #fde4a6;
}

#styling {
  margin: auto;
  width: 35%; 
  background-color: #ffcccb;
  padding: 1em;
  border-radius: 8px;
  border: 2px solid #ff7f50;
}

h3 {
  font-size: 2em;
  color: #ffa07a;
}


label {
  padding-right: 0.5em;
  color: #e9967a;
}

button {
  border-radius: 0.5em;
  border-color: #ff7f50;
  background-color: #ffa07a;
  color: #fff;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 2em;
  padding: 0.5em 1em;
  cursor: pointer;
}

button:hover {
  background-color: #ff6347;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  background-color: #fff;
}

table th, table td {
  border: 1px solid #ff7f50;
  padding: 0.5em;
  text-align: center;
  color: #2c2c2c;
}

table th {
  background-color: #ffa07a;
  color: #fff;
}

table td {
  background-color: #ffebeb;
}
#ingredientList {
  margin-top: 20px;
  padding: 10px;
  background-color: #ff6f61;
  border-radius: 8px;
  color: #2c2c2c;
  text-align: center;
  display: inline-block; 
}


